DENTALPRO_BASE_URL=https://dcpraktik.dental-pro.online
DENTALPRO_LOGIN=
DENTALPRO_PASSWORD=
DENTALPRO_TOKEN=
DENTALPRO_SECRET=
DP_ARTIFACTS_DIR=/Users/macbook15/Downloads/MacAi/DentalPro/artifacts
DP_OUTPUT_DIR=/Users/macbook15/Downloads/MacAi/DentalPro/output

